<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Bem vindo a máquina social TELBOOK</nb-card-header>
        <nb-card-body>
          <p align="justify">Considerado o "pai da computação", o britânico Alan Turing formulou na década de 1930 um modelo teórico que seria responsável pela criação de conceitos como o algoritmo e o desenvolvimento dos computadores modernos. Conhecido como Máquina de Turing, o dispositivo escrevia e interpretava símbolos limitados em 0, 1 e conjunto vazio— basicamente, a estruturação das linhas de códigos atuais.</p> 

          <p align="justify">Inspirado pelo filme O Jogo da Imitação, o entusiasta por tecnologia Richard J. Ridel passou seis meses desenvolvendo uma Máquina de Turing em madeira, em um processo que envolveu tentativa e erro até o funcionamento do dispositivo.</p>
          
          <p align="justify">No YouTube, Ridel divulgou um vídeo com a máquina em funcionamento e também publicou um manual disponível no One Drive (que está em inglês) com o passo a passo para fabricar o equipamento.</p>
           
          <p align="center">
            <img src="/assets/images/ia.png"
            width="160px" height="160px" />
          </p>

          <p align="justify">Turing também teve um papel decisivo na Segunda Guerra Mundial. Em uma mansão vitoriana na cidade de Bletchley, um grupo de gênios contratados pelo serviço de inteligência britânico foi reunido durante para desvendar o código militar alemão gerado pela Enigma, máquina de criptografia supostamente impenetrável.</p>

          <p align="justify">Com a equipe, o matemático começou a trabalhar na produção de uma máquina chamada “a bomba”. O instrumento identificava pontos fracos da codificação e foi responsável por revelar a posição dos submarinos alemães. Com as diversas informações interceptadas, o grupo também pode ter colaborado para encurtar a duração da guerra.</p>

          <p align="justify">Na década de 1950, entretanto, Turing foi preso por “indecência” após declarar às autoridades que era homossexual, orientação considerada ilegal no Reino Unido.  Em 1954, ele foi encontrado morto após morder uma maçã envenenada com cianeto. Em 2013,recebeu perdão real por sua condenação — a homossexualidade só foi descriminalizada no Reino Unido em 1967.</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
